.container {
    padding-left: 92px;
    padding-right: 92px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D4D7E6;
    height: 72px;
}

.header-actions {
    display: flex;
    gap: 48px;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #9093A6;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
}

.menu-icon {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
}

.main {
    background-image: url("../img/background/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.main-title {
    max-width: 400px;
    padding-top: 120px;
    font-size: 58px;
    line-height: 64px;
}

.tags {
    margin-top: 88px;
    display: flex;
    gap: 24px;
}

.tag {
    padding: 18px 24px;
    border: 2px solid #FFE145;
    border-radius: 4px;
    text-align: center;
}

.tag-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.tag-details {
    font-size: 12px;
    line-height: 16px;
}

.info-icons {
    margin-top: 280px;
    padding: 28px 24px 28px 92px;
    display: inline-flex;
    gap: 40px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background: white;
}

.info-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.restaurants {
    margin-top: 48px;
    margin-bottom: 30px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.section-title {
    font-size: 36px;
    line-height: 64px;
}

.section-control {
    padding: 16px 24px;
    background: #F2F4FA;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #9093A6;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.section-control:hover {
    background: #c8c8c8;
}

.slider {
    display: flex;
}

.restaurant {
    /*max-width: 25%;*/
    box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 8px;
}

.restaurant-image {
    width: 100%;
}

.restaurant-logo {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-arrow {
    width: 48px;
    height: 48px;
    background-color: #9093A6 !important;
    border-radius: 50%;
    z-index: 1;
}